* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aquamarine;
    text-align: center;
}

div.board {
    display: grid;
    height: 500px;
    width: 500px;
    border: 1px solid black;
    margin: 40px auto;
}